* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(14, 17, 23);
}

body {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(250, 250, 250);
  background-color: var(--main-color);
  min-width: 640px !important;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

header {
  background: #1e2430;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 23px -6px red;
}
header a {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
}
header button {
  background: transparent;
  border: none;
}
header button a {
  text-decoration: underline;
}

main .sidebar-body {
  top: 69px;
  position: absolute;
  background-color: rgb(38, 39, 48);
  background-attachment: fixed;
  flex-shrink: 0;
  height: calc(-2px + 100vh);
  overflow: auto;
  padding: 6rem 1rem;
  transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
  width: 21rem;
  z-index: 1;
  margin-left: 0px;
}
main .sidebar-body .heaeder-sidebar h3 {
  margin-bottom: 8px;
}
main .sidebar-body form {
  margin-top: 16px;
}
main .sidebar-body form label {
  font-size: 14px;
}
main .sidebar-body form select,
main .sidebar-body form input {
  margin-top: 0px;
  outline: rgb(240, 42, 42);
  border: rgb(240, 42, 42);
  padding: 16px;
  border-radius: 4px;
  width: 310px;
  background: var(--main-color);
  color: #FFF;
  margin-bottom: 24px;
}
main .sidebar-body::-webkit-scrollbar {
  display: none !important;
}
main .sidebar-body::-webkit-scrollbar {
  display: none !important;
}


.Bo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 10px;
  line-height: 1.6;
  color: inherit;
  width: auto;
  user-select: none;
  background-color: rgb(19, 23, 32);
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
}

.Bo:hover {
  color: red;
  border-color: red;
}

.head {
  margin-top: 100px;
  font-size: 40px;
}

.h2 {
  margin-top: 20px;
  font-size: 25px;
}

.Di {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  max-width: 500px;
}

.last {
  font-size: 14px;
  color: gray;
}

.ph {
  margin-bottom: 30px;
  margin-top: 10px;
}

.cont {
  display: flex;
}

.photo {
  margin-top: 10px;
  height: 350px;
}

.link {
  color: rgb(85, 26, 139);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close svg {
  width: 20px;
}

span.open {
  display: block;
  cursor: pointer;
  width: fit-content;
  font-size: 12px;
  border: 1px solid red;
  padding: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cont-box {
  margin-left: 20px;
}

@media (max-width: 1460px) {
  .sidebar-body {
    display: none;
  }
}
.h2-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: -100px;
}

.form {
  margin: 150px auto;
  width: 500px;
}
.form input,
.form button {
  margin-block-end: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: none;
  outline: none;
  background: red;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}
.form input::placeholder,
.form button::placeholder {
  color: rgba(0, 0, 0, 0.2823529412);
}
.form input[type=submit],
.form button[type=submit] {
  cursor: pointer;
}
.form input a,
.form button a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
